*{
	padding:0;
	margin:0;
}
.wrapper{
    width: 100%;
    height: 800px;
}
.sidebar{
	float: left;
	width: 14%;
	height: 100%;
	background-color: rgb(47, 47, 30);
}
.sidebar ul a{
	display: block;
	width: 100%;
	line-height: 50px;
	padding-left: 10px;
	text-decoration: none;
	box-sizing: border-box;
	color: white;
	font-size: 20px;
	border-bottom: 1px solid rgb(204, 204, 179);
}
.sidebar ul a:hover{
	background-color: yellow;
	color:black;
}
.container-1{
    width:86%;
    height: 100%;
    float: left;
}
.Search-box{
    width: 100%;
    height: 6%;
    box-sizing: border-box;
	border-bottom: 1px solid rgb(204, 204, 179);
}
.Search-box input[type=text]
{
	margin-left: 46px;
	margin-top: 15px;
	font-size: 20px;
    border: none;
    font-family: Roboto;
}

.image-folder{
    width: 100%;
    height: 40%;
    margin: 30px 0px 0px;
   
}
.image-container1{
    width: 45%;
    height: 100%;
    float: left;
}
.image-heading{
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    width: 100%;
    height: 10%;
    font-size: 20px;
    position: relative;
    top:3%;
    left:46px;
}
.image{
    width: 40%;
    height: 85%;
    float: left;
    position: relative;
    top:10px;
    left: 46px;
}
.image img{
    width: 200px;
    height: 225px;
}
.image button{
    width: 102px;
    height: 35px;
    background-color: yellow;
    border-radius: 15%;
    position: relative;
    left: 60px;
    top: 6px;
}
.image-container2{
    float: left;
    width: 54%;
    height: 100%;
  
}
.image-1{
    width: 49%;
    float: left;
    height: 100%;
}
.image-1 label{
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    position: relative;
    top: 3%;
}
.image-1 img{
    position: relative;
    width: 200px;
    height: 225px;
    top:15px;
    left: 20px;
}
.image-1 button{
    width: 102px;
    height: 35px;
    background-color: yellow;
    border-radius: 15%;
    position: relative;
    top: 20px;
    left: 80px;
}
.image-container3{
    float: left;
    width: 54%;
    height: 100%;
    position: relative;
    left: 46px;
    top:43px;
}
#heading1{
    font-weight: normal;
}
/*Payment.css*/
#Payment{
    width: 100%;
    height: 100%;
}
.button-div{
    position: relative;
    top: 10px;
    width:100% ;
    height: 70px;
    }
    .button{
        background-color: yellow;
        width: 20%;
        position: relative;
        top: 5%;
        height: 100%;
        left: 46px;
        font-size: 20px;
        border-radius: 5%;
        border: 1px solid yellow;
       
    }
table{
    width: 93%;
    height: 700px;
     margin-left: 46px;
     position: relative;
     top:20px;
     table-layout: fixed;
}
thead tr{
    height: 60px;
}
thead th{
    width: 30px;
    font-size: 18px;
    text-align: center;
}
.ro{
    height: 60px;
	border:1px solid rgb(204, 204, 179);
	border-radius: 10px;
}

tbody td{
    width: 30px;
    padding: 5px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    text-align: center;
    font-size: 17px;
    opacity: .8;
}
.table-name{
    text-align: left;
    font-size: 17px;
}
tbody td img{
    width: 20px;
    height: 35px;
    position: relative;
    top: 0px;
    left: -27px;
}

tbody td span{
    position: relative;
    top: 2px;
}
.first{
    border-left:1px solid;
    border-radius: 10px 0px 0px 10px;
}
.last{
    border-right:1px solid ;
    border-radius: 0px 10px 10px 0px;
}
.geeks{
    border-right: hidden;
}
.gfg { 
    border-collapse:separate; 
    border-spacing:0 15px; 
} 

.sub{
	display: none;
	border: 1px solid;
	width: 80px;
    font-size: 20px;
    background-color: black;
    margin-left: 75px;
}

ul li:hover .sub{
	display: block;
	position: absolute;

}

.sub button{

	display: block;
	line-height: 30px;
    width: 100%;
    background-color: black;
	color: white;
	box-sizing: border-box;
	font-size: 15px;
    border-bottom: 1px solid rgb(204, 204, 179);
    border:none;

}
.sub button:hover{

    background-color: pink;
    color: white;
}

/*Contact.css*/
#contact
{
    width: 100%;
    height: 100%;
}
.button-container{
    position: relative;
    top: 5px;
    width:100% ;
    height: 70px;
}
#button1{
    width: 20%;
    position: relative;
    top: 5%;
    height: 80%;
    left: 46px;
    font-size: 20px;
    border-radius: 5%;
}
#button2{
    background-color: yellow;
    width: 20%;
    position: relative;
    top: 5%;
    left: 60px;
    height: 80%;
    font-size: 20px;
    border-radius: 5%;
    border: 1px solid yellow;
}
.Date-container{
    position: relative;
    height: 30px;
    width: 100%;
}
.Date{
    width: 10%;
    position: relative;
    top:1%;
    left: 46px;
    float: left;
}
.Date button{
    border: none;
}
.hr{
    position: relative;
    top: -20px;
    float: left;
    width: 83%;
    left: 50px;
}
.hr hr{
   position: relative;
   top: 10px;
    
}
.Box-container{
    position: relative;
    width: 100%;
    height:700px;
}
.Box{
    width: 32%;
    height: 700px;
    float: left;
}
.left-box{
    width: 90%;
    height: 30%;
    background-color:  #F0EAFE;;
    margin: 2px 46px 0px;
    border-radius: 2%;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.Email-name
{
    position: relative;
    top: 5px;
    left: 10px;
}
.Email-date{
    position: relative;
    top: 5px;
    float: right;
    right: 10px;
    opacity: .9;
}
.Email-from{
    position: relative;
    left: 10px;
    top: 5px;
    opacity: 0.9;
}
.Email-text{
    position: relative;
    left: 10px;
    top: 10px;
    right: 10px;
}
.star{
    position: relative;
    left: 10px;
    top: 5px;
    color: gray;
}
.checked{
    color: yellow;
}
.btn-1{
    position: relative;
    left: 215px;
    top: 5px;
    border: none;
    font-size: 18px;
    background:  #F0EAFE;;
}
.btn-2{
    position: relative;
    left: 230px;
    top: 5px;
    border: none;
    font-size: 18px;
    background:  #F0EAFE;;
}
.input-container{
    width: 90%;
    margin: 0px 46px 0px;
    height: 7%;
    border-radius: 3%;
    border: 1px solid;
}
.input-container input{
    width: 84%;
    height: 100%;
    font-size: 15px;
   border: none;
    text-align: 12px;
    padding-left: 10px;
}
.input-container button{
    height: 100%;
    border: none;
    width: 8%;
    background-color: white;
    font-size: 15px;
}
.last-box{
    height: 16%;
}
.middle-box{
    margin: 2px 46px 0px;
    width: 90%;
    height: 45%;
    background-color:  #F0EAFE;;
    border-radius: 3%;
}
.lower{
    margin-top: 25px; 
}